@charset "utf-8";
@font-face{
        font-family: 'Minecraft';
        src:url("./../fonts/minecraft.ttf"); 
}

html, body
{
    color: #FFB84E;
    background-color: #222222;
    
}

.title {
    color: #FF9902;
    font-family: Minecraft;
}

hr {
    background-color: #858585;
}

.input-dark {
    color: #FFB84E;
    background-color: #111111;
}

.icon-white {
    color: #858585;
}

.notfound{
  display: none;
}

.zoom {      
-webkit-transition: all 0.35s ease-in-out;    
-moz-transition: all 0.35s ease-in-out;    
transition: all 0.35s ease-in-out;     
cursor: -webkit-zoom-in;      
cursor: -moz-zoom-in;      
cursor: zoom-in;  
}     

.zoom:hover,  
.zoom:active,   
.zoom:focus {
-ms-transform: scale(1.5);    
-moz-transform: scale(1.5);  
-webkit-transform: scale(1.5);  
-o-transform: scale(1.5);  
transform: scale(1.5);    
position:relative;      
z-index:100;  
}